//$theme-colors: (
//        "primary": #0074d9,
//        "danger": #ff4136,
//        "success": #d336ff
//);

$danger: #ef4343;
$success: #6bbe40;
$info: #2391d5;

//@import "../../node_modules/bootstrap/scss/bootstrap";
@import "bootstrap";